DEV_PORT=3000
WEBAPP_PORT=3004
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
MONGO_DB_NAME=ping_monitor
PING_TIMEOUT_SECONDS=2
MONITORING_INTERVAL_MS=60000
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
